/* Color palette */
:root {
    --primary: #793329;
    --secondary: #C6876B;
    --tertiary: #F3BDA1;
    --tertiary-85: rgb(243, 189, 161, 0.85);
    --quarterly-:#2C2C2C;
    --fith:#a8ac88e5;
}

/* Fonts:
font-family: "Dawning of a New Day", serif;
font-family: "Lato", serif;
*/

/* General */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    color: var(--white-);
    /* border: red;
    border-style: solid; */
}

textarea{
    color:var(--quarterly-);
}

body {
    background-color: var(--primary);
    background-image: url("./img/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lato", serif;
    color: var(--quarterly-);
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-family: "Dawning of a New Day", serif;
        font-size: 30pt;
        align-items: center;
    }
}

/* BUTTON */
.button {
    padding: 8px 32px;
    border-radius: 20px;
    align-self: center;
    font-family: "Roboto", serif;
    font-weight: bold;
    color: var(--primary);
    font-size: 11pt;
    cursor: pointer;
    margin-bottom: 16px;
}

.marron {
    background-color: var(--primary);
    color: white;
}

.blanc {
    background-color: white;
    color: var(--primary);
}

input{
    color:black;
}

/* FORM */
.form {
    background-color: var(--tertiary-85);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 24px 40px;
    border-radius: 10px;
    border: 1px groove var(--primary);

    .form-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .colums {
        display: flex;
        gap: 24px;
    }

    .form-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 16px;

        input {
            width: 296px;
            height: 26px;
            border-radius: 5px;
            padding: 4px;
            margin-top: 4px;
            color: black;
        }

        label {
            margin: 8px 0 4px;
        }

        
    }

    .form-question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 16px;

        input {
            width: 100%;
            height: 26px;
            border-radius: 5px;
            padding: 4px;
            margin-top: 4px;
            color: var(--primary);
        }
        button{
            color: black;
        }
    }

    .question {
        margin-bottom: 16px;
    }
}

.delete {
    background: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.delete:hover {
    border-bottom: 1px solid red;
    color: red;
}

/* MESSAGE ERREUR SUCCES*/
.message {
    width: 400px;
    height: auto;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    margin: 8px;
}

.success {
    color: #132a13;
    background-color:#90a955;
    border-color: #132a13;
}

.error {
    color: #540804;
    background-color: #c75146;
    border-color: #540804;
}

/* HEADER */
header {
    background-color: var(--fith);

    h1 {
        font-family: "Dawning of a New Day", serif;
        color: var(--primary);
        font-size: 60px;
        span {
            color: white;
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;
    }

    .nav-link {
        display: flex;
        justify-content: space-around;

        ul li {
            display: inline-block;
            padding: 8px 16px;
            margin: 0 16px;
        }
    }

    /* .responsive {
        display: none;
    } */
}

/* INDEX */
.home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 64px;

    .text {
        background-color: var(--tertiary-85);
        border-radius: 15px;
        padding: 16px;
        margin: 32px 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .bouton {
            display: flex;
            margin: 16px auto 0;
            gap: 32px;
        }
    }

}

/* FOOTER */
footer {
    background-color: var(--fith);
    margin-top: auto;

    .copyright {
        font-size: 10pt;
        text-align: center;
        padding: 8px 0;
    }
}

/*LIVRE D'OR*/

.homelivre {
    display: flex;
    align-items: center;
    background-color: var(--tertiary-85);
    border-radius: 15px;
    margin : 32px 200px;
    
        .bouton {
            display: flex;
            margin: 16px auto 0;
            gap: 32px;
        }
    }


    /* AJOUT COMMENTAIRE */

    textarea {
        width: 100%; /* Largeur totale du parent */
        max-width: 600px; /* Largeur maximale pour éviter qu'il soit trop grand */
        height: 150px; /* Hauteur initiale */
        min-height: 100px; /* Hauteur minimale */
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin:15px;
    }
    